.vscode/
.idea/
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
pip-wheel-metadata/
wheelhouse/
.venv/
env/
venv/
cdk.out/
.cdk.staging/
*.env
.DS_Store
node_modules/
package-lock.json
yarn.lock
*.log
